<%# #Se existir uma mensagem de erro/sucesso, será renderizada a mensagem de erro/sucesso. %>
<% if flash[:notice] %>
    <div class="alert alert-success">
    <%# #Vai renderizar a mensagem de sucesso. %>
        <%= flash[:notice] %>
    </div>
<% end %>

<div class="alert alert-info">
    <h4 class="alert-heading">Produtos adicionados recentemente</h4>
</div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Setor</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                    <td colspan="1"></td>
                </tr>
            </thead>
            <tbody>
            <% @produtos.each do |produto| %>
                <tr>
                    <td><%= produto.nome %></td>
                    <td><%= produto.descricao %></td>
                    <td><%= produto.preco %></td>
                    <td><%= produto.quantidade %></td>
                    <td><%= produto.setor.nome %></td>
                    <%# Utilizamos a propriedade "data" para perguntar se a pessoa tem certeza
                    da ação de deletar o produto? %>
                    <td><%= link_to "Editar", edit_produto_path(produto), class:"btn btn-primary"%></td>
                    <td><%= button_to "Remover", produto, method: :delete, class: "btn btn-danger",
                    data: {confirm:"Tem certeza que quer deletar #{produto.nome}?"}%></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Produto com desconto</h4>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                </tr>
            </thead>
            <tbody>
            <% @produto_menor_preco.each do |produto| %>
                <tr>
                    <td><%= produto.nome %></td>
                    <td><%= produto.descricao %></td>
                    <td><%= produto.preco %></td>
                    <td><%= produto.quantidade %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>